In [1]:
import pandas as pd
dataset = pd.read_csv("iris.csv")
dataset.drop_duplicates()

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[149 rows x 5 columns]

In [2]:
from function import kmean
import numpy as np
cc = kmean(dataset[['petal.width', 'petal.length']])
cc.fit(3)
dataset['assign'] = cc.assig
vas = np.array(dataset['variety'])
va = dataset['variety'].unique()
for i in va:
    ass = [0, 0 , 0]
    for y in range(len(cc.assig)):
        if i == vas[y]:
            ass[cc.assig[y]] += 1
    print(i, ass)

Setosa [50, 0, 0]
Versicolor [0, 48, 2]
Virginica [0, 4, 46]